<div class="row">
   <% @posts.each do |post| %>
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=post.title%></h5>
        <%=image_tag(post.image.url , width:150)%>
        <p class="card-text"><%=post.description%></p>
      </div>
    </div>
    </div>
    <%end%>
</div>



