@import 'bootstrap/dist/css/bootstrap';
.navbar {

background-color: #FDF6EA !important;

}

.navbar-brand {

font-size: 3rem;

}

h1 {

color: black;

}



#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}
#sat{
	margin: 0px 310px;
	  text-align: center;
}

label {
	font-size: 15px;
	font-weight: 100;
	display: block; 
}

#col{
	background-color: lightgray;
}

#tags{
    width: 100%;
}
#pad{
    padding-top: 10;
}

 label {
            display: inline;
            padding: 0px 80px;
        }

 .container{
    width: 30%;
    border: 2px solid black;
    padding: 20px;
 }

.row{
    margin-right: -100px;
    margin-left: -15px;
    margin-bottom: 20px;
}
.inputinputfield{
    margin: 8px;
}
.textfield{
          margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 14px;
    margin-left: 80px;
    margin-top: auto;
}
.button{
        margin: 0px 81px;
}

.mar{
        position: relative;
    display: -ms-flexbox;
    display: flex;
    margin-top: 42px;
    margin-bottom: 42px;
    -ms-flex-direction: col
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        padding: 1px

}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    margin-left: 25px;
    padding: 2px
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
    margin: 15px;
}